
    <h4 class= "subheader">Click  on the element below!</h4>

<div class="table">


 <?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="elements" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1114.9 1422.9" style="enable-background:new 0 0 1114.9 1422.9;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#10161F;stroke:#35C5ED;stroke-miterlimit:10;}
	.st1{fill:#10161F;stroke:#EE8C22;stroke-miterlimit:10;}
	.st2{fill:none;}
	.st3{fill:#FFFFFF;}
	.st4{font-family:'SoleilSb';}
	.st5{font-size:24.3328px;}
	.st6{fill:#1EA1CE;}
	.st7{font-size:27.5772px;}
	.st8{fill:none;stroke:#273993;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
	.st9{fill:none;stroke:#273993;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:0.4955,0.4955;}
	
		.st10{fill:none;stroke:#273993;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:9.9106,9.9106,0.4955,0.4955;}
	.st11{fill:none;stroke:#4267B0;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
	.st12{fill:none;stroke:#4267B0;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:0.4955,0.4955;}
	
		.st13{fill:none;stroke:#4267B0;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:9.9106,9.9106,0.4955,0.4955;}
	.st14{fill:none;stroke:#00A59C;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
	.st15{fill:none;stroke:#00A59C;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:0.4955,0.4955;}
	
		.st16{fill:none;stroke:#00A59C;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:9.9106,9.9106,0.4955,0.4955;}
	.st17{fill:none;stroke:#0075A4;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
	.st18{fill:none;stroke:#0075A4;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:0.4955,0.4955;}
	
		.st19{fill:none;stroke:#0075A4;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:9.9106,9.9106,0.4955,0.4955;}
	.st20{fill:#10161F;stroke:#60449B;stroke-miterlimit:10;}
	.st21{fill:#10161F;stroke:#009E84;stroke-miterlimit:10;}
	.st22{font-size:21.0885px;}
	.st23{fill:#454546;}
	.st24{font-size:19.4663px;}
	.st25{fill:#10161F;stroke:#D02A2B;stroke-miterlimit:10;}
	.st26{fill:#10161F;stroke:#C0CA62;stroke-miterlimit:10;}
	.st27{font-size:22.7107px;}
	.st28{fill:#676867;}
</style>
<path class="st0" d="M59.9,1112.6l-48.1,40.3c15.9,20.8,33.1,40.7,51.3,59.6l45.1-45.1C90.8,1150.1,74.7,1131.8,59.9,1112.6z"/>
<path class="st1" d="M100.6,1078.5l-40.7,34.1c14.8,19.2,30.9,37.5,48.2,54.8l37.2-37.2C128.8,1113.9,113.9,1096.7,100.6,1078.5z"/>

<g id="all-elements">
<g id="58_element">
	<path class="st1" d="M145.3,1130.2l-37.2,37.2c17.9,17.9,37,34.7,57.3,50.3l33.1-42C179.4,1161.6,161.6,1146.4,145.3,1130.2z"/>
	
		<rect x="113.2" y="1136.3" transform="matrix(0.6947 -0.7193 0.7193 0.6947 -805.1303 463.0564)" class="st2" width="59.3" height="87.2"/>
	<text transform="matrix(0.7193 0.6947 -0.6947 0.7193 129.7706 1154.808)" class="st3 st4 st5">Ce</text>
	<text transform="matrix(0.7193 0.6947 -0.6947 0.7193 151.6501 1175.9368)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.4194 0.405 -0.405 0.4194 162.4051 1173.5565)" class="st6 st4 st7">58</text>
</g>
<g id="90_element">
	<path class="st0" d="M108.1,1167.4l-45.1,45.1c19.4,20.1,40.1,39,61.9,56.6l40.4-51.4C145.1,1202.1,126,1185.3,108.1,1167.4z"/>
	
		<rect x="75.6" y="1179.6" transform="matrix(0.6947 -0.7193 0.7193 0.6947 -847.7755 449.171)" class="st2" width="59.3" height="87.2"/>
	<text transform="matrix(0.7193 0.6947 -0.6947 0.7193 93.1894 1199.1613)" class="st3 st4 st5">Th</text>
	<text transform="matrix(0.7193 0.6947 -0.6947 0.7193 112.5133 1217.822)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.4194 0.405 -0.405 0.4194 123.2682 1215.4418)" class="st6 st4 st7">90</text>
</g>
<g id="59_element">
	<path class="st1" d="M198.5,1175.6l-33.1,42c19.5,15,40.1,29,61.5,41.7l28.7-47.3C235.5,1201.1,216.4,1188.9,198.5,1175.6z"/>
	
		<rect x="175.4" y="1183" transform="matrix(0.515 -0.8572 0.8572 0.515 -951.9147 770.6415)" class="st2" width="59.3" height="87.2"/>
	<text transform="matrix(0.8572 0.515 -0.515 0.8572 189.9177 1207.0135)" class="st3 st4 st5">Pr</text>
	<text transform="matrix(0.8572 0.515 -0.515 0.8572 209.7732 1218.944)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.4997 0.3003 -0.3003 0.4997 219.717 1214.2056)" class="st6 st4 st7">59</text>
</g>
<g id="91_element">
	<path class="st0" d="M165.4,1217.7l-40.4,51.4c21.3,17.3,43.7,33.3,67.1,47.9l34.9-57.6C205.4,1246.7,184.9,1232.7,165.4,1217.7z"
		/>
	
		<rect x="142.6" y="1230.3" transform="matrix(0.515 -0.8572 0.8572 0.515 -1008.3975 765.4057)" class="st2" width="59.3" height="87.2"/>
	<text transform="matrix(0.8572 0.515 -0.515 0.8572 156.0806 1253.7297)" class="st3 st4 st5">Pa</text>
	<text transform="matrix(0.8572 0.515 -0.515 0.8572 180.0245 1268.1167)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.4997 0.3003 -0.3003 0.4997 189.9683 1263.3782)" class="st6 st4 st7">91</text>
</g>
<g id="60_element">
	<path class="st1" d="M255.6,1212.2l-28.7,47.3c21.9,13,44.9,24.8,68.6,35.3l22.8-52.7C296.6,1233.2,275.6,1223.2,255.6,1212.2z"/>
	
		<rect x="237.4" y="1220.7" transform="matrix(0.4384 -0.8988 0.8988 0.4384 -986.3486 950.0512)" class="st2" width="59.3" height="87.2"/>
	<text transform="matrix(0.8988 0.4384 -0.4384 0.8988 245.0202 1243.5533)" class="st3 st4 st5">Nd</text>
	<text transform="matrix(0.8988 0.4384 -0.4384 0.8988 275.3755 1258.3586)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.524 0.2556 -0.2556 0.524 284.8686 1252.7711)" class="st6 st4 st7">60</text>
</g>
<g id="92_element">
	<path class="st0" d="M226.9,1259.4L192,1317c24.3,15.3,49.7,29.1,76,41.3l27.5-63.6C271.8,1284.3,248.9,1272.5,226.9,1259.4z"/>
	
		<rect x="212.1" y="1272.6" transform="matrix(0.4384 -0.8988 0.8988 0.4384 -1047.1833 956.5071)" class="st2" width="59.3" height="87.2"/>
	<text transform="matrix(0.8988 0.4384 -0.4384 0.8988 227.3683 1299.1638)" class="st3 st4 st5">U</text>
	<text transform="matrix(0.8988 0.4384 -0.4384 0.8988 243.0928 1306.8333)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.524 0.2556 -0.2556 0.524 252.5859 1301.2457)" class="st6 st4 st7">92</text>
</g>
<g id="61_element">
	<path class="st1" d="M318.4,1242l-22.8,52.7c21.3,9.3,43.3,17.6,65.8,24.6l17-56.9C357.8,1256.6,337.8,1249.8,318.4,1242z"/>
	
		<rect x="304.1" y="1247.9" transform="matrix(0.2756 -0.9613 0.9613 0.2756 -999.7236 1256.3142)" class="st2" width="59.3" height="87.2"/>
	<text transform="matrix(0.9613 0.2756 -0.2756 0.9613 308.6244 1274.9974)" class="st3 st4 st5">Pm</text>
	<text transform="matrix(0.9613 0.2756 -0.2756 0.9613 343.9432 1285.125)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.5604 0.1607 -0.1607 0.5604 352.3219 1277.9739)" class="st6 st4 st7">61</text>
</g>
<g id="93_element">
	<path class="st0" d="M295.6,1294.7l-27.5,63.6c23.7,11,48.1,20.7,73.1,29l20.3-67.9C338.9,1312.2,316.9,1304,295.6,1294.7z"/>
	
		<rect x="285.7" y="1303.1" transform="matrix(0.2756 -0.9613 0.9613 0.2756 -1066.0936 1278.6697)" class="st2" width="59.3" height="87.2"/>
	<text transform="matrix(0.9613 0.2756 -0.2756 0.9613 290.3381 1330.2339)" class="st3 st4 st5">Np</text>
	<text transform="matrix(0.9613 0.2756 -0.2756 0.9613 322.8031 1339.5432)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.5604 0.1607 -0.1607 0.5604 331.1819 1332.3921)" class="st6 st4 st7">93</text>
</g>
<g id="62_element">
	<path class="st1" d="M378.4,1262.5l-17,56.9c24.7,7.7,50,14.1,76,18.9l10.1-60.4C423.8,1274,400.8,1268.8,378.4,1262.5z"/>
	
		<rect x="372.6" y="1269.8" transform="matrix(0.2756 -0.9613 0.9613 0.2756 -971.1268 1338.0181)" class="st2" width="59.3" height="87.2"/>
	<text transform="matrix(0.9613 0.2756 -0.2756 0.9613 375.5768 1296.4304)" class="st3 st4 st5">Sm</text>
	<text transform="matrix(0.9613 0.2756 -0.2756 0.9613 411.457 1306.719)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.5604 0.1607 -0.1607 0.5604 419.8357 1299.5679)" class="st6 st4 st7">62</text>
</g>
<g id="94_element">
	<path class="st0" d="M361.4,1319.3l-20.3,67.9c27.4,9.1,55.6,16.5,84.4,22.1l11.8-71.1C411.4,1333.4,386.1,1327.1,361.4,1319.3z"/>
	
		<rect x="364.9" y="1326.4" transform="matrix(0.2756 -0.9613 0.9613 0.2756 -1031.1448 1371.6088)" class="st2" width="59.3" height="87.2"/>
	<text transform="matrix(0.9613 0.2756 -0.2756 0.9613 371.5633 1354.1108)" class="st3 st4 st5">Pu</text>
	<text transform="matrix(0.9613 0.2756 -0.2756 0.9613 399.5844 1362.1459)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.5604 0.1607 -0.1607 0.5604 407.9631 1354.9948)" class="st6 st4 st7">94</text>
</g>
<g id="63_element">
	<path class="st1" d="M447.5,1277.8l-10.1,60.4c25.5,4.8,51.5,8.1,78,9.9l5.5-62.6C495.9,1284.4,471.4,1281.8,447.5,1277.8z"/>
	
		<rect x="449.5" y="1282.2" transform="matrix(1.745241e-02 -0.9998 0.9998 1.745241e-02 -854.7747 1781.7841)" class="st2" width="59.3" height="87.2"/>
	<text transform="matrix(0.9999 1.745000e-02 -1.745000e-02 0.9999 453.1789 1316.3861)" class="st3 st4 st5">Eu</text>
	<text transform="matrix(0.9999 1.745000e-02 -1.745000e-02 0.9999 482.2034 1316.8927)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.5829 1.017335e-02 -1.017335e-02 0.5829 488.4457 1307.8176)" class="st6 st4 st7">63</text>
</g>
<g id="95_element">
	<path class="st0" d="M437.4,1338.3l-11.8,71.1c27.3,5.3,55.1,9.1,83.5,11.1l6.4-72.4C488.9,1346.3,462.9,1343,437.4,1338.3z"/>
	
		<rect x="445.9" y="1341.2" transform="matrix(1.745241e-02 -0.9998 0.9998 1.745241e-02 -917.3849 1836.064)" class="st2" width="59.3" height="87.2"/>
	<text transform="matrix(0.9999 1.745000e-02 -1.745000e-02 0.9999 444.7131 1375.2993)" class="st3 st4 st5">Am</text>
	<text transform="matrix(0.9999 1.745000e-02 -1.745000e-02 0.9999 483.6154 1375.9783)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.5829 1.017335e-02 -1.017335e-02 0.5829 489.8578 1366.9032)" class="st6 st4 st7">95</text>
</g>
<g id="64_element">
	<path class="st1" d="M553.1,1286.4c-10.8,0-21.5-0.3-32.1-0.8l-5.5,62.6c15.2,1,30.5,1.6,46,1.6c11.5,0,22.9-0.3,34.2-0.9
		l-1.9-63.7C580.3,1286,566.7,1286.4,553.1,1286.4z"/>
	
		<rect x="529" y="1287.5" transform="matrix(1.745241e-02 -0.9998 0.9998 1.745241e-02 -782.0399 1866.3972)" class="st2" width="59.3" height="87.2"/>
	<text transform="matrix(0.9999 1.745000e-02 -1.745000e-02 0.9999 529.5192 1321.6293)" class="st3 st4 st5">Gd</text>
	<text transform="matrix(0.9999 1.745000e-02 -1.745000e-02 0.9999 564.407 1322.2382)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.5829 1.017335e-02 -1.017335e-02 0.5829 570.6493 1313.1631)" class="st6 st4 st7">64</text>
</g>
<g id="96_element">
	<path class="st0" d="M561.4,1349.7c-15.5,0-30.8-0.5-46-1.6l-6.4,72.4c16.7,1.2,33.6,1.8,50.7,1.8c12.8,0,25.4-0.4,38-1.1
		l-2.1-72.5C584.3,1349.4,572.9,1349.7,561.4,1349.7z"/>
	
		<rect x="530.2" y="1348.4" transform="matrix(1.745241e-02 -0.9998 0.9998 1.745241e-02 -841.7645 1927.5039)" class="st2" width="59.3" height="87.2"/>
	<text transform="matrix(0.9999 1.745000e-02 -1.745000e-02 0.9999 528.7502 1382.5364)" class="st3 st4 st5">Cm</text>
	<text transform="matrix(0.9999 1.745000e-02 -1.745000e-02 0.9999 567.652 1383.2153)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.5829 1.017335e-02 -1.017335e-02 0.5829 573.8943 1374.1403)" class="st6 st4 st7">96</text>
</g>
<g id="65_element">
	<path class="st1" d="M593.7,1285.1l1.9,63.7c28.6-1.4,56.6-4.6,84.1-9.5l-10.3-63.3C644.7,1280.4,619.5,1283.5,593.7,1285.1z"/>
	
		<rect x="599.1" y="1295.5" transform="matrix(0.9903 -0.1392 0.1392 0.9903 -178.1658 102.3379)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.9903 -0.1392 0.1392 0.9903 616.3856 1319.7908)" class="st3 st4 st5">Tb</text>
	<text transform="matrix(0.9903 -0.1392 0.1392 0.9903 643.5657 1315.9709)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.5773 -8.113611e-02 8.113611e-02 0.5773 648.3116 1306.0311)" class="st6 st4 st7">65</text>
</g>
<g id="97_element">
	<path class="st0" d="M595.6,1348.8l2.1,72.5c31.8-1.7,63-5.6,93.4-11.4l-11.5-70.6C652.3,1344.2,624.2,1347.4,595.6,1348.8z"/>
	
		<rect x="606.4" y="1357.1" transform="matrix(0.9903 -0.1392 0.1392 0.9903 -186.6752 103.9642)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.9903 -0.1392 0.1392 0.9903 623.7818 1381.4464)" class="st3 st4 st5">Bk</text>
	<text transform="matrix(0.9903 -0.1392 0.1392 0.9903 651.5881 1377.5386)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.5773 -8.113611e-02 8.113611e-02 0.5773 656.334 1367.5988)" class="st6 st4 st7">97</text>
</g>
<g id="66_element">
	<path class="st1" d="M669.3,1276l10.3,63.3c25.3-4.5,50-10.4,74-17.6l-18.2-61.5C714.1,1266.6,692,1271.9,669.3,1276z"/>
	
		<rect x="671.6" y="1284" transform="matrix(0.9903 -0.1392 0.1392 0.9903 -175.8587 112.316)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.9903 -0.1392 0.1392 0.9903 687.4114 1308.4905)" class="st3 st4 st5">Dy</text>
	<text transform="matrix(0.9903 -0.1392 0.1392 0.9903 716.9531 1304.3387)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.5773 -8.113611e-02 8.113611e-02 0.5773 721.699 1294.3989)" class="st6 st4 st7">66</text>
</g>
<g id="98_element">
	<path class="st0" d="M679.7,1339.3l11.5,70.6c28.1-5.4,55.6-12.4,82.3-21.1l-19.8-67.1C729.6,1328.9,704.9,1334.8,679.7,1339.3z"/>
	
		<rect x="682.3" y="1341.9" transform="matrix(0.9903 -0.1392 0.1392 0.9903 -183.8224 114.3696)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.9903 -0.1392 0.1392 0.9903 700.4247 1366.1389)" class="st3 st4 st5">Cf</text>
	<text transform="matrix(0.9903 -0.1392 0.1392 0.9903 725.0751 1362.6746)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.5773 -8.113611e-02 8.113611e-02 0.5773 729.821 1352.7347)" class="st6 st4 st7">98</text>
</g>
<g id="67_element">
	<path class="st1" d="M735.5,1260.2l18.2,61.5c23.6-7.1,46.6-15.5,68.9-25l-25.7-58.5C777.1,1246.6,756.6,1253.9,735.5,1260.2z"/>
	
		<rect x="743.3" y="1264.8" transform="matrix(0.9511 -0.309 0.309 0.9511 -361.5025 306.5202)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.9511 -0.309 0.309 0.9511 757.8688 1294.521)" class="st3 st4 st5">Ho</text>
	<text transform="matrix(0.9511 -0.309 0.309 0.9511 789.1794 1284.3475)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.5545 -0.1802 0.1802 0.5545 792.1271 1273.7345)" class="st6 st4 st7">67</text>
</g>
<g id="99_element">
	<path class="st0" d="M753.7,1321.7l19.8,67.1c26.2-8.5,51.7-18.5,76.4-29.9l-27.3-62.2C800.3,1306.3,777.3,1314.6,753.7,1321.7z"/>
	
		<rect x="761.1" y="1319.2" transform="matrix(0.9511 -0.309 0.309 0.9511 -377.441 314.6949)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.9511 -0.309 0.309 0.9511 778.6293 1347.9751)" class="st3 st4 st5">Es</text>
	<text transform="matrix(0.9511 -0.309 0.309 0.9511 802.8818 1340.0948)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.5545 -0.1802 0.1802 0.5545 805.8295 1329.4819)" class="st6 st4 st7">99</text>
</g>
<g id="68_element">
	<path class="st1" d="M796.9,1238.2l25.7,58.5c22.8-9.8,44.9-20.8,66.1-33l-31.8-55.1C837.8,1219.5,817.7,1229.4,796.9,1238.2z"/>
	
		<rect x="809.5" y="1236.6" transform="matrix(0.8829 -0.4695 0.4695 0.8829 -494.6163 548.7149)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.8829 -0.4695 0.4695 0.8829 828.1193 1269.4037)" class="st3 st4 st5">Er</text>
	<text transform="matrix(0.8829 -0.4695 0.4695 0.8829 848.4648 1258.5858)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.5148 -0.2737 0.2737 0.5148 849.5251 1247.6222)" class="st6 st4 st7">68</text>
</g>
<g id="100_element">
	<path class="st0" d="M822.6,1296.7l27.3,62.2c24.7-11.4,48.6-24.2,71.6-38.3l-32.9-56.9C867.5,1275.9,845.4,1286.9,822.6,1296.7z"
		/>
	
		<rect x="836.5" y="1284.9" transform="matrix(0.8829 -0.4695 0.4695 0.8829 -514.1105 567.0334)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.8829 -0.4695 0.4695 0.8829 847.4167 1321.7465)" class="st3 st4 st5">Fm</text>
	<text transform="matrix(0.8829 -0.4695 0.4695 0.8829 878.0322 1305.468)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.5148 -0.2737 0.2737 0.5148 879.0924 1294.5043)" class="st6 st4 st7">100</text>
</g>
<g id="69_element">
	<path class="st1" d="M856.8,1208.7l31.8,55.1c22.4-12.9,43.8-27.1,64.2-42.4l-37.6-51.3C897,1184,877.5,1196.9,856.8,1208.7z"/>
	
		<rect x="874.9" y="1199" transform="matrix(0.848 -0.5299 0.5299 0.848 -511.5407 673.4131)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.8481 -0.5299 0.5299 0.8481 889.0798 1236.5035)" class="st3 st4 st5">Tm</text>
	<text transform="matrix(0.8481 -0.5299 0.5299 0.8481 918.2992 1218.2452)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.4944 -0.3089 0.3089 0.4944 918.592 1207.2343)" class="st6 st4 st7">69</text>
</g>
<g id="101_element">
	<path class="st0" d="M888.6,1263.7l32.9,56.9c23.9-14.7,46.9-30.8,68.8-48.2l-37.5-51.1C932.5,1236.6,911.1,1250.8,888.6,1263.7z"
		/>
	
		<rect x="905.1" y="1244.8" transform="matrix(0.848 -0.5299 0.5299 0.848 -531.2125 696.4078)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.8481 -0.5299 0.5299 0.8481 916.4681 1284.0981)" class="st3 st4 st5">Md</text>
	<text transform="matrix(0.8481 -0.5299 0.5299 0.8481 949.0718 1263.7251)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.4944 -0.3089 0.3089 0.4944 949.3647 1252.7141)" class="st6 st4 st7">101</text>
</g>
<g id="70_element">
	<path class="st1" d="M915.2,1170l37.6,51.3c20-15.1,39-31.4,56.7-48.7L964,1127C949,1142.2,932.7,1156.6,915.2,1170z"/>
	
		<rect x="933.5" y="1151.7" transform="matrix(0.788 -0.6157 0.6157 0.788 -520.154 852.0023)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.788 -0.6157 0.6157 0.788 950.9615 1190.3611)" class="st3 st4 st5">Yb </text>
	<text transform="matrix(0.4594 -0.3589 0.3589 0.4594 973.5521 1161.0585)" class="st6 st4 st7">70</text>
</g>
<g id="102_element">
	<path class="st0" d="M952.8,1221.3l37.5,51.1c22-17.5,43-36.4,62.6-56.5l-43.4-43.4C991.8,1189.8,972.8,1206.1,952.8,1221.3z"/>
	
		<rect x="968.1" y="1193.4" transform="matrix(0.788 -0.6157 0.6157 0.788 -538.5262 882.153)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.788 -0.6157 0.6157 0.788 981.6813 1235.1422)" class="st3 st4 st5">No </text>
	<text transform="matrix(0.4594 -0.3589 0.3589 0.4594 1006.8795 1203.8025)" class="st6 st4 st7">102</text>
</g>
<g id="71_element">
	<path class="st1" d="M964,1127l45.5,45.5c16.6-16.2,32.2-33.3,46.5-51.2l-52.6-40C991.5,1097.3,978.4,1112.6,964,1127z"/>
	
		<rect x="981.7" y="1100.3" transform="matrix(0.7193 -0.6947 0.6947 0.7193 -497.161 1029.3732)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.7193 -0.6947 0.6947 0.7193 1002.363 1139.6664)" class="st3 st4 st5">Lu </text>
	<text transform="matrix(0.4194 -0.405 0.405 0.4194 1019.9638 1109.9042)" class="st6 st4 st7">71</text>
</g>
<g id="103_element">
	<path class="st0" d="M1056.1,1121.3c-14.4,17.9-29.9,35-46.5,51.2l43.4,43.4c18.1-18.4,35.1-37.9,51-58.2L1056.1,1121.3z"/>
	
		<rect x="1019.3" y="1138.6" transform="matrix(0.7193 -0.6947 0.6947 0.7193 -513.1819 1066.2219)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.7193 -0.6947 0.6947 0.7193 1038.5161 1179.3055)" class="st3 st4 st5">Lr </text>
	<text transform="matrix(0.4194 -0.405 0.405 0.4194 1051.8109 1153.7014)" class="st6 st4 st7">103</text>
</g>

<g id="22_element">
	<path class="st20" d="M774.9,682l40.5,35.2c25.3-29.6,45.5-63.5,59.5-100.4l-50.6-18.3C812.7,629.1,795.8,657.3,774.9,682z"/>
	
		<rect x="799.5" y="637.9" transform="matrix(0.5736 -0.8192 0.8192 0.5736 -187.3351 975.2997)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.5736 -0.8192 0.8192 0.5736 823.8805 679.4019)" class="st3 st4 st5">Ti</text>
	<text transform="matrix(0.5736 -0.8192 0.8192 0.5736 834.5156 664.2136)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.3344 -0.4776 0.4776 0.3344 830.4828 653.9636)" class="st6 st4 st7">22</text>
</g>
<g id="40_element">
	<path class="st21" d="M815.5,717.2l36.3,31.5c29-34,52.2-73,68.2-115.6l-45-16.3C861,653.7,840.7,687.6,815.5,717.2z"/>
	
		<rect x="847.9" y="664.8" transform="matrix(0.5736 -0.8192 0.8192 0.5736 -188.7229 1026.438)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.5736 -0.8192 0.8192 0.5736 870.8669 708.3565)" class="st3 st4 st5">Zr</text>
	<text transform="matrix(0.5736 -0.8192 0.8192 0.5736 883.749 689.9592)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.3344 -0.4776 0.4776 0.3344 879.7162 679.7092)" class="st6 st4 st7">40</text>
</g>
<g id="72_element">
	<path class="st1" d="M851.8,748.7l38.1,33c33-38.7,59.4-83.1,77.5-131.5L920,633C904,675.6,880.8,714.7,851.8,748.7z"/>
	
		<rect x="889" y="691.4" transform="matrix(0.5736 -0.8192 0.8192 0.5736 -192.9659 1071.42)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.5736 -0.8192 0.8192 0.5736 911.3066 735.8442)" class="st3 st4 st5">Hf</text>
	<text transform="matrix(0.5736 -0.8192 0.8192 0.5736 926.5754 714.0385)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.3344 -0.4776 0.4776 0.3344 922.5427 703.7884)" class="st6 st4 st7">72</text>
</g>
<g id="104_element">
	<path class="st0" d="M967.4,650.2c-18,48.4-44.5,92.8-77.5,131.5l44.2,38.3c38.1-43.8,68.6-94.3,89.5-149.4L967.4,650.2z"/>
	
		<rect x="931.1" y="715.1" transform="matrix(0.5736 -0.8192 0.8192 0.5736 -194.3805 1116.025)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.5736 -0.8192 0.8192 0.5736 952.0927 761.431)" class="st3 st4 st5">Rf</text>
	<text transform="matrix(0.5736 -0.8192 0.8192 0.5736 965.6867 742.017)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.3344 -0.4776 0.4776 0.3344 961.654 731.7669)" class="st6 st4 st7">104</text>
</g>
<g id="21_element">
	<path class="st20" d="M696.8,746.8l26.8,46c35-19.7,66.1-45.4,91.9-75.7L774.9,682C753,707.9,726.5,729.9,696.8,746.8z"/>
	
		<rect x="727.2" y="724.4" transform="matrix(0.8192 -0.5736 0.5736 0.8192 -293.118 578.4916)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.8192 -0.5736 0.5736 0.8192 746.4547 760.1809)" class="st3 st4 st5">Sc</text>
	<text transform="matrix(0.8192 -0.5736 0.5736 0.8192 768.4795 744.7588)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.4776 -0.3344 0.3344 0.4776 768.1957 733.7476)" class="st6 st4 st7">21</text>
</g>
<g id="39_element">
	<path class="st21" d="M723.5,792.8l24.4,41.9c39.5-22.5,74.6-51.7,103.9-86l-36.3-31.5C789.6,747.4,758.5,773.1,723.5,792.8z"/>
	
		<rect x="759.8" y="765.4" transform="matrix(0.8192 -0.5736 0.5736 0.8192 -310.7361 604.6085)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.8192 -0.5736 0.5736 0.8192 782.8903 798.4956)" class="st3 st4 st5">Y</text>
	<text transform="matrix(0.8192 -0.5736 0.5736 0.8192 794.5705 790.3169)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.4776 -0.3344 0.3344 0.4776 794.2867 779.3057)" class="st6 st4 st7">39</text>
</g>
<g id="57_element">
	<path class="st1" d="M747.9,834.7l25.4,43.7c44.3-25.4,83.7-58.2,116.6-96.7l-38.1-33C822.5,783,787.4,812.2,747.9,834.7z"/>
	
		<rect x="787.1" y="799.2" transform="matrix(0.8192 -0.5736 0.5736 0.8192 -325.1618 626.3427)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.8192 -0.5736 0.5736 0.8192 805.9733 835.1598)" class="st3 st4 st5">La</text>
	<text transform="matrix(0.8192 -0.5736 0.5736 0.8192 827.3004 820.2263)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.4776 -0.3344 0.3344 0.4776 827.0165 809.2151)" class="st6 st4 st7">57</text>
</g>
<g id="89_element">
	<path class="st0" d="M773.4,878.5l28.6,49.2c50.1-28.2,94.7-64.7,132.1-107.6l-44.2-38.3C857.1,820.2,817.6,853,773.4,878.5z"/>
	
		<rect x="822.7" y="842.5" transform="matrix(0.8192 -0.5736 0.5736 0.8192 -343.5958 654.6062)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.8192 -0.5736 0.5736 0.8192 839.7042 879.8354)" class="st3 st4 st5">Ac</text>
	<text transform="matrix(0.8192 -0.5736 0.5736 0.8192 863.0246 863.5062)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.4776 -0.3344 0.3344 0.4776 862.7407 852.495)" class="st6 st4 st7">89</text>
</g>
<g id="23_element">
	<path class="st20" d="M824.4,598.4l50.6,18.3c13.6-36.1,21.3-75.1,21.7-115.8l-53.4-1C842.7,534.5,836.1,567.7,824.4,598.4z"/>
	<rect x="820.8" y="543.4" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(1 0 0 1 848.4368 559.2472)" class="st3 st4 st22">V</text>
	<text transform="matrix(1 0 0 1 862.2923 559.2472)" class="st6 st4 st22"> </text>
	<text transform="matrix(0.583 0 0 0.583 867.5648 552.2247)" class="st6 st4 st22">23</text>
</g>
<g id="41_element">
	<path class="st21" d="M875,616.7l45,16.3c15.3-40.9,24-85.1,24.5-131.2l-47.8-0.9C896.2,541.6,888.6,580.6,875,616.7z"/>
	<rect x="873.3" y="547.9" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(1 0 0 1 894.098 563.7633)" class="st3 st4 st22">Nb</text>
	<text transform="matrix(1 0 0 1 923.3685 563.7633)" class="st6 st4 st22"> </text>
	<text transform="matrix(0.583 0 0 0.583 928.6409 556.7408)" class="st6 st4 st22">41</text>
</g>
<g id="73_element">
	<path class="st1" d="M944.5,501.8c-0.6,46.1-9.2,90.3-24.5,131.2l47.4,17.2c17.2-46,26.7-95.7,27.3-147.5L944.5,501.8z"/>
	<rect x="924.2" y="549.4" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(1 0 0 1 947.9134 565.2125)" class="st3 st4 st22">Ta</text>
	<text transform="matrix(1 0 0 1 970.14 565.2125)" class="st6 st4 st22"> </text>
	<text transform="matrix(0.583 0 0 0.583 975.4124 558.1901)" class="st6 st4 st22">73</text>
</g>
<g id="105_element">
	<path class="st0" d="M967.4,650.2l56.2,20.4c19.7-52,30.8-108.1,31.7-166.7l-60.6-1.1C994.1,554.5,984.6,604.2,967.4,650.2z"/>
	<rect x="979.9" y="553.2" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(1 0 0 1 997.8392 569.0104)" class="st3 st4 st22">Db</text>
	<text transform="matrix(1 0 0 1 1026.3928 569.0104)" class="st6 st4 st22"> </text>
	<text transform="matrix(0.583 0 0 0.583 1031.6653 561.9879)" class="st6 st4 st22">105</text>
</g>
<g id="24_element">
	<path class="st20" d="M843.3,495.5c0,1.5,0,2.9-0.1,4.4l53.4,1c0-1.2,0-2.4,0-3.6c0-42.6-7.9-83.3-22.3-120.9l-50.2,15.8
		C836.6,424.3,843.3,459.1,843.3,495.5z"/>
	
		<rect x="824.1" y="421.2" transform="matrix(0.9903 -0.1392 0.1392 0.9903 -54.2982 125.1458)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.9903 -0.1392 0.1392 0.9903 845.7756 439.9734)" class="st3 st4 st22">Cr</text>
	<text transform="matrix(0.9903 -0.1392 0.1392 0.9903 867.5146 436.9182)" class="st6 st4 st22"> </text>
	<text transform="matrix(0.5773 -8.113611e-02 8.113611e-02 0.5773 871.7579 429.2304)" class="st6 st4 st22">24</text>
</g>
<g id="42_element">
	<path class="st21" d="M920.5,361.9l-46,14.5c14.4,37.5,22.3,78.3,22.3,120.9c0,1.2,0,2.4,0,3.6l47.8,0.9c0-1.7,0.1-3.3,0.1-5
		C944.6,449.4,936.1,403.9,920.5,361.9z"/>
	
		<rect x="873.6" y="414" transform="matrix(0.9903 -0.1392 0.1392 0.9903 -52.8113 131.9618)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.9903 -0.1392 0.1392 0.9903 892.5406 433.1309)" class="st3 st4 st22">Mo</text>
	<text transform="matrix(0.5773 -8.113611e-02 8.113611e-02 0.5773 923.9526 421.6249)" class="st6 st4 st22">42</text>
</g>
<g id="74_element">
	<path class="st1" d="M944.6,496.8c0,1.7,0,3.3-0.1,5l50.2,0.9c0-1.7,0.1-3.3,0.1-5c0-53-9.5-103.8-26.8-150.9l-47.5,15
		C936.1,403.9,944.6,449.4,944.6,496.8z"/>
	
		<rect x="923" y="407.4" transform="matrix(0.9903 -0.1392 0.1392 0.9903 -51.4131 138.7765)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.9903 -0.1392 0.1392 0.9903 948.867 425.5719)" class="st3 st4 st22">W</text>
	<text transform="matrix(0.5773 -8.113611e-02 8.113611e-02 0.5773 967.1022 415.9177)" class="st6 st4 st22">74</text>
</g>
<g id="106_element">
	<path class="st0" d="M994.8,497.8c0,1.7,0,3.3-0.1,5l60.6,1.1c0-2.6,0.1-5.1,0.1-7.7c0-58.8-10.3-115.3-29.3-167.6L968,346.9
		C985.3,393.9,994.8,444.8,994.8,497.8z"/>
	
		<rect x="977" y="400.8" transform="matrix(0.9903 -0.1392 0.1392 0.9903 -49.97 146.2332)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.9903 -0.1392 0.1392 0.9903 996.8618 419.8308)" class="st3 st4 st22">Sg</text>
	<text transform="matrix(0.5773 -8.113611e-02 8.113611e-02 0.5773 1021.7794 409.2374)" class="st6 st4 st22">106</text>
</g>
<g id="25_element">
	<path class="st20" d="M777.6,312.1c19.6,23.8,35.5,50.8,46.7,80.1l50.2-15.8c-13.7-35.8-33.3-68.7-57.7-97.6L777.6,312.1z"/>
	
		<rect x="790.9" y="327.1" transform="matrix(0.9063 -0.4226 0.4226 0.9063 -72.5855 386.0867)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.9063 -0.4226 0.4226 0.9063 805.6704 354.9441)" class="st3 st4 st22">Mn</text>
	<text transform="matrix(0.9063 -0.4226 0.4226 0.9063 835.4095 341.0764)" class="st6 st4 st22"> </text>
	<text transform="matrix(0.5284 -0.2464 0.2464 0.5284 837.2198 332.4839)" class="st6 st4 st22">25</text>
</g>
<g id="43_element">
	<path class="st21" d="M874.5,376.4l46-14.5c-15.6-42.1-38.3-80.8-66.6-114.6l-37.1,31.5C841.1,307.7,860.7,340.6,874.5,376.4z"/>
	
		<rect x="840.2" y="303.5" transform="matrix(0.9063 -0.4226 0.4226 0.9063 -58.004 404.7141)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.9063 -0.4226 0.4226 0.9063 860.136 328.9623)" class="st3 st4 st22">Tc</text>
	<text transform="matrix(0.9063 -0.4226 0.4226 0.9063 878.9999 320.1659)" class="st6 st4 st22"> </text>
	<text transform="matrix(0.5284 -0.2464 0.2464 0.5284 880.8101 311.5734)" class="st6 st4 st22">43</text>
</g>
<g id="75_element">
	<path class="st1" d="M920.5,361.9l47.5-15c-17.8-48.4-44-92.7-76.7-131.4l-37.5,31.9C882.2,281.1,904.9,319.8,920.5,361.9z"/>
	
		<rect x="881.2" y="284.6" transform="matrix(0.9063 -0.4226 0.4226 0.9063 -46.1761 420.2887)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.9063 -0.4226 0.4226 0.9063 899.6894 310.7671)" class="st3 st4 st22">Re</text>
	<text transform="matrix(0.9063 -0.4226 0.4226 0.9063 922.6432 300.0636)" class="st6 st4 st22"> </text>
	<text transform="matrix(0.5284 -0.2464 0.2464 0.5284 924.4534 291.471)" class="st6 st4 st22">75</text>
</g>
<g id="107_element">
	<path class="st0" d="M968,346.9l58.1-18.3c-20.3-56.2-50.6-107.6-88.6-152.3l-46.1,39.2C924.1,254.2,950.2,298.5,968,346.9z"/>
	
		<rect x="932.8" y="260.8" transform="matrix(0.9063 -0.4226 0.4226 0.9063 -31.2514 439.8427)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.9063 -0.4226 0.4226 0.9063 951.1292 286.9409)" class="st3 st4 st22">Bh</text>
	<text transform="matrix(0.5284 -0.2464 0.2464 0.5284 971.6506 269.6231)" class="st6 st4 st22">107</text>
</g>
<g id="26_element">
	<path class="st20" d="M777.6,312.1l39.2-33.3c-25-29.6-54.9-54.8-88.6-74.5l-25.1,43.5C731.5,264.9,756.7,286.7,777.6,312.1z"/>
	
		<rect x="718.6" y="229.6" transform="matrix(0.7986 -0.6018 0.6018 0.7986 -13.7539 505.3363)" class="st2" width="59.3" height="87.2"/>
	<text transform="matrix(0.6018 0.7986 -0.7986 0.6018 740.6244 248.1395)" class="st3 st4 st5">Fe</text>
	<text transform="matrix(0.6018 0.7986 -0.7986 0.6018 756.381 269.0492)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.3509 0.4656 -0.4656 0.3509 767.3759 268.3807)" class="st6 st4 st7">26</text>
</g>
<g id="44_element">
	<path class="st21" d="M816.8,278.8l37.1-31.5c-28.5-33.9-62.6-63-101-85.6l-24.6,42.6C761.8,224,791.8,249.3,816.8,278.8z"/>
	
		<rect x="753.5" y="197.3" transform="matrix(0.6691 -0.7431 0.7431 0.6691 80.0729 661.7053)" class="st2" width="59.3" height="87.2"/>
	<text transform="matrix(0.7431 0.6691 -0.6691 0.7431 769.0857 216.2545)" class="st3 st4 st5">Ru</text>
	<text transform="matrix(0.7431 0.6691 -0.6691 0.7431 791.472 236.4114)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.4333 0.3901 -0.3901 0.4333 802.1373 233.6573)" class="st6 st4 st7">44</text>
</g>
<g id="76_element">
	<path class="st1" d="M853.8,247.3l37.5-31.9c-32.2-38.1-70.8-70.6-114.1-96.1l-24.5,42.4C791.2,184.3,825.4,213.4,853.8,247.3z"/>
	
		<rect x="786.3" y="160.6" transform="matrix(0.6691 -0.7431 0.7431 0.6691 118.2287 673.9267)" class="st2" width="59.3" height="87.2"/>
	<text transform="matrix(0.7431 0.6691 -0.6691 0.7431 801.7854 179.4214)" class="st3 st4 st5">Os</text>
	<text transform="matrix(0.7431 0.6691 -0.6691 0.7431 825.3467 200.6362)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.4333 0.3901 -0.3901 0.4333 836.012 197.8821)" class="st6 st4 st7">76</text>
</g>
<g id="108_element">
	<path class="st0" d="M891.3,215.4l46.1-39.2c-36.8-43.2-80.8-80-130.3-108.6l-29.9,51.7C820.6,144.8,859.1,177.4,891.3,215.4z"/>
	
		<rect x="814.3" y="120.3" transform="matrix(0.6691 -0.7431 0.7431 0.6691 158.3376 683.4323)" class="st2" width="64.7" height="87.2"/>
	<text transform="matrix(0.7431 0.6691 -0.6691 0.7431 832.3735 135.374)" class="st3 st4 st5">Hs</text>
	<text transform="matrix(0.7431 0.6691 -0.6691 0.7431 854.3077 155.1238)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.4333 0.3901 -0.3901 0.4333 864.973 152.3697)" class="st6 st4 st7">108</text>
</g>
<g id="27_element">
	<path class="st20" d="M703.1,247.8l25.1-43.5c-34.5-20.2-73-34.6-113.9-41.6l-9,48.3C640.5,217.3,673.5,230,703.1,247.8z"/>
	<rect x="617.2" y="189.3" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(1 0 0 1 634.2493 210.0294)" class="st3 st4 st5">Co</text>
	<text transform="matrix(1 0 0 1 665.4437 210.0294)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.583 0 0 0.583 671.5267 200.8458)" class="st6 st4 st7">27</text>
</g>
<g id="45_element">
	<path class="st21" d="M728.2,204.3l24.6-42.6c-39.2-23.1-82.9-39.6-129.4-47.8l-9.1,48.8C655.2,169.8,693.7,184.1,728.2,204.3z"/>
	<rect x="635.3" y="146" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(1 0 0 1 652.2884 166.6544)" class="st3 st4 st5">Rh</text>
	<text transform="matrix(1 0 0 1 682.4124 166.6544)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.583 0 0 0.583 688.4954 157.4708)" class="st6 st4 st7">45</text>
</g>
<g id="77_element">
	<path class="st1" d="M752.8,161.7l24.5-42.4C733.3,93.5,684.5,75,632.5,65.6l-9,48.4C669.9,122.1,713.6,138.6,752.8,161.7z"/>
	<rect x="649.7" y="98.8" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(1 0 0 1 674.7435 119.442)" class="st3 st4 st5">Ir</text>
	<text transform="matrix(1 0 0 1 690.827 119.442)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.583 0 0 0.583 696.91 110.2584)" class="st6 st4 st7">77</text>
</g>
<g id="109_element">
	<path class="st0" d="M777.3,119.3l29.9-51.7C757.3,38.8,702.1,18.3,643.2,8l-10.8,57.5C684.5,75,733.3,93.5,777.3,119.3z"/>
	<rect x="678.6" y="45.9" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(1 0 0 1 691.5926 66.5836)" class="st3 st4 st5">Mt</text>
	<text transform="matrix(1 0 0 1 723.347 66.5836)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.583 0 0 0.583 729.43 57.4)" class="st6 st4 st7">109</text>
</g>
<g id="28_element">
	<path class="st20" d="M553.6,206.4c17.6,0,34.9,1.6,51.7,4.6l9-48.3c-19.1-3.3-38.8-5.1-58.9-5.1c-20,0-39.6,1.7-58.7,5l8.8,47.7
		C521.1,207.7,537.2,206.4,553.6,206.4z"/>
	<rect x="514.3" y="174.2" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(1 0 0 1 533.7562 194.8864)" class="st3 st4 st5">Ni</text>
	<text transform="matrix(1 0 0 1 558.6243 194.8864)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.583 0 0 0.583 564.7073 185.7028)" class="st6 st4 st7">28</text>
</g>
<g id="46_element">
	<path class="st21" d="M555.4,157.6c20.1,0,39.8,1.7,58.9,5.1l9.1-48.8c-22.2-3.9-45-6-68.3-6c-23,0-45.5,2-67.5,5.8l9,48.9
		C515.7,159.3,535.4,157.6,555.4,157.6z"/>
	<rect x="514.3" y="122.6" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(1 0 0 1 531.2264 143.2931)" class="st3 st4 st5">Pd</text>
	<text transform="matrix(1 0 0 1 560.9608 143.2931)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.583 0 0 0.583 567.0438 134.1095)" class="st6 st4 st7">46</text>
</g>
<g id="78_element">
	<path class="st1" d="M555.1,108c23.3,0,46.1,2,68.3,6l9-48.4c-26.1-4.7-52.9-7.2-80.3-7.2c-25.1,0-49.6,2.1-73.5,6.1l9.1,49.4
		C509.6,110,532.1,108,555.1,108z"/>
	<rect x="512" y="73" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(1 0 0 1 532.7147 93.6349)" class="st3 st4 st5">Pt</text>
	<text transform="matrix(1 0 0 1 555.7576 93.6349)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.583 0 0 0.583 561.8406 84.4513)" class="st6 st4 st7">78</text>
</g>
<g id="110_element">
	<path class="st0" d="M552.1,58.3c27.4,0,54.3,2.5,80.3,7.2L643.2,8c-28.3-4.9-57.3-7.5-87-7.5c-30,0-59.4,2.6-87.9,7.7l10.3,56.2
		C502.5,60.4,527.1,58.3,552.1,58.3z"/>
	<rect x="511.4" y="20.3" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(1 0 0 1 527.3377 41.0216)" class="st3 st4 st5">Ds</text>
	<text transform="matrix(1 0 0 1 556.1722 41.0216)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.583 0 0 0.583 562.2552 31.838)" class="st6 st4 st7">110</text>
</g>
<g id="29_element">
	<path class="st20" d="M505.4,210.4l-8.8-47.7c-40.5,7-78.5,21.1-112.7,40.9l24.2,41.9C437.6,228.3,470.5,216.2,505.4,210.4z"/>
	
		<rect x="407.7" y="190.5" transform="matrix(0.9744 -0.225 0.225 0.9744 -37.9513 107.1603)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.9744 -0.2249 0.2249 0.9744 422.6948 217.5346)" class="st3 st4 st5">Cu</text>
	<text transform="matrix(0.9744 -0.2249 0.2249 0.9744 453.2086 210.4899)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.5681 -0.1311 0.1311 0.5681 457.07 200.1743)" class="st6 st4 st7">29</text>
</g>
<g id="47_element">
	<path class="st21" d="M496.7,162.6l-9-48.9c-46.1,8-89.5,24.2-128.5,46.9l24.7,42.8C418.2,183.7,456.2,169.6,496.7,162.6z"/>
	
		<rect x="394.6" y="145.8" transform="matrix(0.9744 -0.225 0.225 0.9744 -28.2352 103.0767)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.9744 -0.2249 0.2249 0.9744 409.8104 172.8131)" class="st3 st4 st5">Ag</text>
	<text transform="matrix(0.9744 -0.2249 0.2249 0.9744 440.7509 165.67)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.5681 -0.1311 0.1311 0.5681 444.6123 155.3543)" class="st6 st4 st7">47</text>
</g>
<g id="79_element">
	<path class="st1" d="M487.7,113.8l-9.1-49.4c-52.1,8.6-101.1,26.3-145.4,51.4l26,45C398.2,138,441.6,121.8,487.7,113.8z"/>
	<rect x="377.1" y="97" transform="matrix(0.9744 -0.225 0.225 0.9744 -17.7148 97.8949)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.9744 -0.2249 0.2249 0.9744 392.553 124.0018)" class="st3 st4 st5">Au</text>
	<text transform="matrix(0.9744 -0.2249 0.2249 0.9744 423.0667 116.9571)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.5681 -0.1311 0.1311 0.5681 426.9282 106.6415)" class="st6 st4 st7">79</text>
</g>
<g id="111_element">
	<path class="st0" d="M478.6,64.4L468.3,8.2c-58.4,10.3-113.4,30.7-162.9,59.4l27.8,48.2C377.5,90.7,426.5,73,478.6,64.4z"/>
	
		<rect x="359.7" y="47.4" transform="matrix(0.9744 -0.225 0.225 0.9744 -6.9874 92.6896)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.9744 -0.2249 0.2249 0.9744 375.0632 74.325)" class="st3 st4 st5">Rg</text>
	<text transform="matrix(0.9744 -0.2249 0.2249 0.9744 404.8419 67.4501)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.5681 -0.1311 0.1311 0.5681 408.7034 57.1345)" class="st6 st4 st7">111</text>
</g>
<g id="30_element">
	<path class="st20" d="M408.1,245.4l-24.2-41.9c-35.6,20.6-67.1,47.4-93,79l36.8,32C350,286.8,377.2,263.4,408.1,245.4z"/>
	
		<rect x="322.8" y="239.9" transform="matrix(0.7193 -0.6947 0.6947 0.7193 -84.4078 330.1828)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.7193 -0.6947 0.6947 0.7193 341.4935 281.172)" class="st3 st4 st5">Zn</text>
	<text transform="matrix(0.7193 -0.6947 0.6947 0.7193 361.955 261.4125)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.4194 -0.405 0.405 0.4194 359.9521 250.5813)" class="st6 st4 st7">30</text>
</g>
<g id="48_element">
	<path class="st21" d="M383.9,203.5l-24.7-42.8c-40.2,23.4-75.9,53.8-105.2,89.6l37,32.2C316.8,250.9,348.3,224.1,383.9,203.5z"/>
	
		<rect x="289.7" y="204.2" transform="matrix(0.7193 -0.6947 0.6947 0.7193 -68.8899 297.1778)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.7193 -0.6947 0.6947 0.7193 307.0251 246.7986)" class="st3 st4 st5">Cd</text>
	<text transform="matrix(0.7193 -0.6947 0.6947 0.7193 329.9721 224.6388)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.4194 -0.405 0.405 0.4194 327.9692 213.8076)" class="st6 st4 st7">48</text>
</g>
<g id="80_element">
	<path class="st1" d="M359.2,160.7l-26-45c-45.7,25.8-86.2,59.5-119.9,99.2l40.6,35.3C283.3,214.6,319,184.1,359.2,160.7z"/>
	
		<rect x="254.8" y="166.1" transform="matrix(0.7193 -0.6947 0.6947 0.7193 -52.2492 262.2562)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.7193 -0.6947 0.6947 0.7193 271.5022 209.3502)" class="st3 st4 st5">Hg</text>
	<text transform="matrix(0.7193 -0.6947 0.6947 0.7193 295.587 186.0917)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.4194 -0.405 0.405 0.4194 293.5841 175.2606)" class="st6 st4 st7">80</text>
</g>
<g id="112_element">
	<path class="st0" d="M333.2,115.8l-27.8-48.2c-50.7,29.3-95.7,67.2-133,111.7l41,35.7C247,175.3,287.6,141.6,333.2,115.8z"/>
	
		<rect x="220.3" y="129.8" transform="matrix(0.7193 -0.6947 0.6947 0.7193 -36.7234 228.0807)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.7193 -0.6947 0.6947 0.7193 231.1678 178.6512)" class="st3 st4 st5">Uub</text>
	<text transform="matrix(0.7193 -0.6947 0.6947 0.7193 265.632 145.3694)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.4194 -0.405 0.405 0.4194 263.6292 134.5383)" class="st6 st4 st7">112</text>
</g>
<g id="2_element">
	<path class="st23" d="M551.6,371c0,0,35.5-6.3,77.2,28.2l-37.6,41.7c0,0-20.9-11.5-37-14.6L551.6,371z"/>
	<rect x="559" y="395" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(1 0 0 1 585.6292 415.7164)" class="st3 st4 st24">He</text>
	<text transform="matrix(0.583 0 0 0.583 611.3441 406.5328)" class="st6 st4 st7">2</text>
</g>
<g id="3_element">
	<path class="st25" d="M554.3,680.5c-9.8,0-19.4-0.7-28.8-2.1l-9.5,51.3c12.6,2,25.6,3.1,38.8,3.1c13.5,0,26.8-1.1,39.8-3.2
		l-8.4-51.7C575.9,679.6,565.2,680.5,554.3,680.5z"/>
	<rect x="516.5" y="697" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(1 0 0 1 543.3948 717.6398)" class="st3 st4 st5">Li</text>
	<text transform="matrix(1 0 0 1 562.3255 717.6398)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.583 0 0 0.583 568.4085 708.4562)" class="st6 st4 st7">3</text>
</g>
<g id="11_element">
	<path class="st26" d="M554.8,732.8c-13.2,0-26.2-1.1-38.8-3.1l-9.4,51c15.3,2.5,31,3.8,47,3.8c16.8,0,33.2-1.4,49.2-4.2l-8.2-50.8
		C581.7,731.7,568.4,732.8,554.8,732.8z"/>
	<rect x="517.5" y="748.9" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(1 0 0 1 536.4183 769.549)" class="st3 st4 st5">Na</text>
	<text transform="matrix(1 0 0 1 568.3914 769.549)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.583 0 0 0.583 574.4744 760.3654)" class="st6 st4 st7">11</text>
</g>
<g id="19_element">
	<path class="st20" d="M553.6,784.6c-16,0-31.7-1.3-47-3.8l-9.5,51.2c18.9,3.2,38.4,4.9,58.2,4.9c19,0,37.7-1.6,55.8-4.5l-8.4-51.9
		C586.8,783.1,570.4,784.6,553.6,784.6z"/>
	<rect x="517.5" y="800.8" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(1 0 0 1 543.1639 821.4415)" class="st3 st4 st5">K</text>
	<text transform="matrix(1 0 0 1 558.5418 821.4415)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.583 0 0 0.583 564.6248 812.2579)" class="st6 st4 st7">19</text>
</g>
<g id="37_element">
	<path class="st21" d="M555.4,836.9c-19.9,0-39.3-1.7-58.2-4.9l-8.9,48c21.7,3.8,44.1,5.7,66.9,5.7c21.7,0,43.1-1.8,63.8-5.2
		l-7.8-48.1C593,835.3,574.4,836.9,555.4,836.9z"/>
	<rect x="519.7" y="848.4" class="st2" width="87.2" height="53.6"/>
	<text transform="matrix(1 0 0 1 536.9276 869.0475)" class="st3 st4 st5">Rb</text>
	<text transform="matrix(1 0 0 1 567.6356 869.0475)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.583 0 0 0.583 573.7186 859.8639)" class="st6 st4 st7">37</text>
</g>
<g id="55_element">
	<path class="st1" d="M555.1,885.6c-22.8,0-45.1-2-66.9-5.7l-9.5,51.3c23.9,4,48.4,6,73.4,6c25.6,0,50.6-2.2,75-6.3l-8.2-50.5
		C598.2,883.8,576.9,885.6,555.1,885.6z"/>
	<rect x="521" y="903.9" class="st2" width="87.2" height="40.4"/>
	<text transform="matrix(1 0 0 1 539.4534 924.5758)" class="st3 st4 st5">Cs</text>
	<text transform="matrix(1 0 0 1 567.2415 924.5758)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.583 0 0 0.583 573.3245 915.3932)" class="st6 st4 st7">55</text>
</g>
<g id="87_element">
	<path class="st0" d="M552.1,937.2c-25,0-49.5-2.1-73.4-6l-9.8,53.1c28.3,5,57.5,7.6,87.3,7.6c27.2,0,53.8-2.2,79.8-6.3l-8.8-54.6
		C602.8,935,577.7,937.2,552.1,937.2z"/>
	<rect x="521" y="953.1" class="st2" width="87.2" height="40.4"/>
	<text transform="matrix(1 0 0 1 542.7025 973.8336)" class="st3 st4 st5">Fr</text>
	<text transform="matrix(1 0 0 1 563.7986 973.8336)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.583 0 0 0.583 569.8817 964.651)" class="st6 st4 st7">87</text>
</g>
<g id="4_element">
	<path class="st25" d="M586.2,677.9l8.4,51.7c27.5-4.5,53.3-13.6,76.7-26.5L645,657.8C627.1,667.5,607.3,674.4,586.2,677.9z"/>
	
		<rect x="582.9" y="659.2" transform="matrix(0.8921 -0.4518 0.4518 0.8921 -243.6322 357.2219)" class="st2" width="86.8" height="59.3"/>
	<text transform="matrix(0.9336 -0.3584 0.3584 0.9336 612.843 712.6503)" class="st3 st4 st5">Be</text>
	<text transform="matrix(0.9336 -0.3584 0.3584 0.9336 639.9209 702.256)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.5443 -0.2089 0.2089 0.5443 642.3088 691.5024)" class="st6 st4 st7">4</text>
</g>
<g id="12_element">
	<path class="st26" d="M594.6,729.5l8.2,50.8c33.7-5.7,65.3-17.3,94-33.6l-25.5-43.8C647.9,715.9,622,725,594.6,729.5z"/>
	
		<rect x="601.1" y="706" transform="matrix(0.8921 -0.4518 0.4518 0.8921 -262.8307 370.5161)" class="st2" width="86.8" height="59.3"/>
	<text transform="matrix(0.9336 -0.3584 0.3584 0.9336 624.3004 762.1055)" class="st3 st4 st5">Mg</text>
	<text transform="matrix(0.9336 -0.3584 0.3584 0.9336 660.0563 748.38)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.5443 -0.2089 0.2089 0.5443 662.4442 737.6264)" class="st6 st4 st7">12</text>
</g>
<g id="20_element">
	<path class="st20" d="M602.8,780.4l8.4,51.9c40.3-6.6,78.1-20.2,112.3-39.5l-26.8-46C668.2,763.1,636.5,774.6,602.8,780.4z"/>
	
		<rect x="617.8" y="758.2" transform="matrix(0.8921 -0.4518 0.4518 0.8921 -284.6016 383.6555)" class="st2" width="86.8" height="59.3"/>
	<text transform="matrix(0.9336 -0.3584 0.3584 0.9336 643.2289 813.3885)" class="st3 st4 st5">Ca</text>
	<text transform="matrix(0.9336 -0.3584 0.3584 0.9336 671.3293 802.6017)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.5443 -0.2089 0.2089 0.5443 673.7172 791.8481)" class="st6 st4 st7">20</text>
</g>
<g id="38_element">
	<path class="st21" d="M611.2,832.3l7.8,48.1c46.2-7.6,89.7-23.3,128.9-45.7l-24.4-41.9C689.3,812.1,651.5,825.7,611.2,832.3z"/>
	
		<rect x="634.8" y="808.2" transform="matrix(0.8921 -0.4518 0.4518 0.8921 -305.3438 396.7423)" class="st2" width="86.8" height="59.3"/>
	<text transform="matrix(0.9336 -0.3584 0.3584 0.9336 663.1006 862.2822)" class="st3 st4 st5">Sr</text>
	<text transform="matrix(0.9336 -0.3584 0.3584 0.9336 685.2713 853.7716)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.5443 -0.2089 0.2089 0.5443 687.6591 843.0181)" class="st6 st4 st7">38</text>
</g>
<g id="56_element">
	<path class="st1" d="M619,880.4l8.2,50.5c52.5-8.9,101.8-26.9,146.2-52.4l-25.4-43.7C708.7,857.1,665.2,872.8,619,880.4z"/>
	
		<rect x="652" y="854.6" transform="matrix(0.8921 -0.4518 0.4518 0.8921 -324.4463 409.4944)" class="st2" width="86.8" height="59.3"/>
	<text transform="matrix(0.9336 -0.3584 0.3584 0.9336 678.2289 909.4412)" class="st3 st4 st5">Ba</text>
	<text transform="matrix(0.9336 -0.3584 0.3584 0.9336 705.0115 899.1603)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.5443 -0.2089 0.2089 0.5443 707.3994 888.4067)" class="st6 st4 st7">56</text>
</g>
<g id="88_element">
	<path class="st0" d="M627.2,930.9l8.8,54.6c59.5-9.5,115.5-29.4,166-57.8l-28.6-49.2C728.9,904,679.6,922,627.2,930.9z"/>
	
		<rect x="671.3" y="901.4" transform="matrix(0.8921 -0.4518 0.4518 0.8921 -343.5388 423.2685)" class="st2" width="86.8" height="59.3"/>
	<text transform="matrix(0.9336 -0.3584 0.3584 0.9336 696.8934 956.5567)" class="st3 st4 st5">Ra</text>
	<text transform="matrix(0.9336 -0.3584 0.3584 0.9336 723.8807 946.1972)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.5443 -0.2089 0.2089 0.5443 726.2685 935.4436)" class="st6 st4 st7">88</text>
</g>
<g id="5_element">
	<path class="st25" d="M413.1,388.8l-41.9-36.5c-16,18.9-28.9,40.3-38.2,63.5l50.8,18.5C391.1,417.7,401.1,402.4,413.1,388.8z"/>
	<rect x="334" y="369" transform="matrix(0.5 -0.866 0.866 0.5 -175.4751 521.2574)" class="st2" width="59.3" height="87.2"/>
	<text transform="matrix(0.866 0.5 -0.5 0.866 355.5462 397.5304)" class="st3 st4 st5">B</text>
	<text transform="matrix(0.866 0.5 -0.5 0.866 368.5274 405.025)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.5049 0.2915 -0.2915 0.5049 378.387 400.1137)" class="st6 st4 st7">5</text>
</g>
<g id="13_element">
	<path class="st26" d="M371.1,352.3l-43.4-37.8c-19.8,24.5-35.6,52.3-46.5,82.4l51.8,18.9C342.2,392.6,355.2,371.2,371.1,352.3z"/>
	<rect x="285.1" y="345.6" transform="matrix(0.5 -0.866 0.866 0.5 -179.6855 467.1521)" class="st2" width="59.3" height="87.2"/>
	<text transform="matrix(0.866 0.5 -0.5 0.866 300.2663 370.4748)" class="st3 st4 st5">AI</text>
	<text transform="matrix(0.866 0.5 -0.5 0.866 320.6645 382.2516)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.5049 0.2915 -0.2915 0.5049 330.5241 377.3403)" class="st6 st4 st7">13</text>
</g>
<g id="31_element">
	<path class="st20" d="M327.7,314.5l-36.8-32c-23.8,28.9-42.8,61.8-56,97.6l46.3,16.9C292.1,366.8,307.9,339,327.7,314.5z"/>
	<rect x="236.7" y="321.3" transform="matrix(0.5 -0.866 0.866 0.5 -182.8724 413.0766)" class="st2" width="59.3" height="87.2"/>
	<text transform="matrix(0.866 0.5 -0.5 0.866 256.1355 343.0596)" class="st3 st4 st22">Ga</text>
	<text transform="matrix(0.5049 0.2915 -0.2915 0.5049 284.4842 351.3177)" class="st6 st4 st22">31</text>
</g>
<g id="49_element">
	<path class="st21" d="M290.9,282.5l-37-32.2c-27.5,33.5-49.6,71.6-64.7,113.1l45.7,16.7C248.1,344.3,267.2,311.4,290.9,282.5z"/>
	<rect x="192.6" y="297.9" transform="matrix(0.5 -0.866 0.866 0.5 -184.6861 363.2079)" class="st2" width="59.3" height="87.2"/>
	<text transform="matrix(0.866 0.5 -0.5 0.866 215.0548 321.4358)" class="st3 st4 st22">In</text>
	<text transform="matrix(0.5049 0.2915 -0.2915 0.5049 235.1306 324.9176)" class="st6 st4 st22">49</text>
</g>
<g id="81_element">
	<path class="st1" d="M254,250.3L213.4,215c-32.4,38.2-58.3,81.9-76.1,129.5l52,19C204.4,321.9,226.4,283.8,254,250.3z"/>
	<rect x="151.8" y="271" transform="matrix(0.5 -0.866 0.866 0.5 -182.9523 312.4104)" class="st2" width="54.6" height="87.2"/>
	<text transform="matrix(0.866 0.5 -0.5 0.866 172.8095 297.7627)" class="st3 st4 st22">TI</text>
	<text transform="matrix(0.5049 0.2915 -0.2915 0.5049 190.6575 299.9584)" class="st6 st4 st22">81</text>
</g>
<g id="6_element">
	<path class="st25" d="M383.8,434.4l-50.8-18.5c-10.4,25.9-16.1,54.1-16.2,83.6h52.6C369.9,476.4,374.9,454.4,383.8,434.4z"/>
	
		<rect x="316.3" y="436.6" transform="matrix(0.1736 -0.9848 0.9848 0.1736 -187.0059 737.4922)" class="st2" width="59.3" height="87.2"/>
	<text transform="matrix(0.9848 0.1736 -0.1736 0.9848 332.1235 468.6683)" class="st3 st4 st5">C</text>
	<text transform="matrix(0.9848 0.1736 -0.1736 0.9848 348.2748 471.5162)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.5741 0.1012 -0.1012 0.5741 355.8601 463.5284)" class="st6 st4 st7">6</text>
</g>
<g id="14_element">
	<path class="st26" d="M332.9,415.8l-51.8-18.9c-11.2,30.8-17.3,63.9-17.3,98.5c0,1.3,0,2.7,0.1,4h52.8
		C316.9,470,322.6,441.8,332.9,415.8z"/>
	
		<rect x="262" y="428.6" transform="matrix(0.1736 -0.9848 0.9848 0.1736 -224.0778 677.3921)" class="st2" width="59.3" height="87.2"/>
	<text transform="matrix(0.9848 0.1736 -0.1736 0.9848 275.4856 460.3057)" class="st3 st4 st5">Si</text>
	<text transform="matrix(0.5741 0.1012 -0.1012 0.5741 298.1671 454.9798)" class="st6 st4 st7">14</text>
</g>
<g id="32_element">
	<path class="st20" d="M263.9,495.5c0-34.6,6.1-67.8,17.3-98.5L234.9,380c-13.5,36.5-20.9,76-20.9,117.2c0,0.7,0,1.5,0,2.2h49.9
		C263.9,498.1,263.9,496.8,263.9,495.5z"/>
	
		<rect x="211.5" y="422.3" transform="matrix(0.1736 -0.9848 0.9848 0.1736 -259.5945 622.5381)" class="st2" width="59.3" height="87.2"/>
	<text transform="matrix(0.9848 0.1736 -0.1736 0.9848 222.9617 448.7332)" class="st3 st4 st22">Ge</text>
	<text transform="matrix(0.5741 0.1012 -0.1012 0.5741 252.6954 446.8453)" class="st6 st4 st22">32</text>
</g>
<g id="50_element">
	<path class="st21" d="M214,497.2c0-41.2,7.4-80.7,20.9-117.2l-45.7-16.7c-15.2,41.6-23.5,86.5-23.5,133.4c0,0.9,0,1.8,0,2.7H214
		C214,498.7,214,498,214,497.2z"/>
	
		<rect x="163.4" y="412.7" transform="matrix(0.1736 -0.9848 0.9848 0.1736 -289.8425 567.1279)" class="st2" width="59.3" height="87.2"/>
	<text transform="matrix(0.9848 0.1736 -0.1736 0.9848 176.2727 439.3082)" class="st3 st4 st22">Sn</text>
	<text transform="matrix(0.5741 0.1012 -0.1012 0.5741 202.8702 436.8673)" class="st6 st4 st22">50</text>
</g>
<g id="82_element">
	<path class="st1" d="M165.7,496.8c0-46.9,8.3-91.8,23.5-133.4l-52-19c-17.9,47.7-27.7,99.4-27.7,153.3c0,0.6,0,1.1,0,1.7h56.2
		C165.7,498.6,165.7,497.7,165.7,496.8z"/>
	
		<rect x="111.7" y="405.1" transform="matrix(0.1736 -0.9848 0.9848 0.1736 -325.0905 509.9992)" class="st2" width="59.3" height="87.2"/>
	<text transform="matrix(0.9848 0.1736 -0.1736 0.9848 124.5165 431.733)" class="st3 st4 st22">Pb</text>
	<text transform="matrix(0.5741 0.1012 -0.1012 0.5741 151.115 429.2923)" class="st6 st4 st22">82</text>
</g>
<g id="114_element">
	<path class="st0" d="M109.5,497.8c0-53.9,9.8-105.6,27.7-153.3l-50-18.3c-19.5,53-30.1,110.3-30.1,170c0,1.1,0,2.2,0,3.3h52.5
		C109.5,498.9,109.5,498.3,109.5,497.8z"/>
	
		<rect x="56" y="394.5" transform="matrix(0.1736 -0.9848 0.9848 0.1736 -360.6398 446.4185)" class="st2" width="59.3" height="87.2"/>
	<text transform="matrix(0.9848 0.1736 -0.1736 0.9848 62.4147 418.7528)" class="st3 st4 st24">Uuq</text>
	<text transform="matrix(0.5741 0.1012 -0.1012 0.5741 101.2862 419.0251)" class="st6 st4 st24">114</text>
</g>
<g id="113_element">
	<path class="st0" d="M213.4,215l-41-35.7c-36.3,43.3-65.4,92.9-85.2,146.9l50,18.3C155.1,296.8,181,253.1,213.4,215z"/>
	
		<rect x="103.5" y="252.7" transform="matrix(0.4067 -0.9135 0.9135 0.4067 -191.6805 297.473)" class="st2" width="59.3" height="87.2"/>
	<text transform="matrix(0.9136 0.4067 -0.4067 0.9136 117.8613 273.0556)" class="st3 st4 st24">Uut</text>
	<text transform="matrix(0.5326 0.2371 -0.2371 0.5326 150.6227 280.5463)" class="st6 st4 st24">113</text>
</g>
<g id="7_element">
	<path class="st25" d="M369.2,503.3c0-1.3,0.1-2.6,0.1-3.8h-52.6c0,0.3,0,0.5,0,0.8c0,28,5.1,54.7,14.3,79.6l48.7-17.7
		C373,543.7,369.2,523.9,369.2,503.3z"/>
	
		<rect x="308.3" y="526.4" transform="matrix(0.9925 -0.1219 0.1219 0.9925 -65.1446 47.0275)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.9926 -0.1219 0.1219 0.9926 334.9995 549.1407)" class="st3 st4 st5">N</text>
	<text transform="matrix(0.9926 -0.1219 0.1219 0.9926 353.1372 546.9138)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.5787 -7.105021e-02 7.105021e-02 0.5787 358.0558 537.0582)" class="st6 st4 st7">7</text>
</g>
<g id="15_element">
	<path class="st26" d="M316.7,500.2c0-0.3,0-0.5,0-0.8h-52.8c0.5,34.5,7,67.5,18.5,98l48.6-17.6C321.8,555,316.7,528.2,316.7,500.2z
		"/>
	
		<rect x="253.8" y="535.7" transform="matrix(0.9925 -0.1219 0.1219 0.9925 -66.6814 40.455)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.9926 -0.1219 0.1219 0.9926 279.3388 558.5607)" class="st3 st4 st5">P</text>
	<text transform="matrix(0.9926 -0.1219 0.1219 0.9926 293.4671 556.826)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.5787 -7.105021e-02 7.105021e-02 0.5787 298.3857 546.9705)" class="st6 st4 st7">15</text>
</g>
<g id="33_element">
	<path class="st20" d="M263.9,499.4H214c0.3,40.5,7.6,79.3,20.9,115.2l47.5-17.2C270.9,566.9,264.4,533.9,263.9,499.4z"/>
	
		<rect x="203.2" y="545" transform="matrix(0.9925 -0.1219 0.1219 0.9925 -68.1911 34.3569)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.9926 -0.1219 0.1219 0.9926 226.6973 563.2012)" class="st3 st4 st22">As</text>
	<text transform="matrix(0.5787 -7.105021e-02 7.105021e-02 0.5787 249.7446 553.2961)" class="st6 st4 st22">33</text>
</g>
<g id="51_element">
	<path class="st21" d="M214,499.4h-48.3c0.3,46.3,8.7,90.6,23.9,131.7l45.4-16.5C221.7,578.7,214.3,539.9,214,499.4z"/>
	
		<rect x="154.5" y="553.6" transform="matrix(0.9925 -0.1219 0.1219 0.9925 -69.6041 28.495)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.9926 -0.1219 0.1219 0.9926 178.1772 571.8073)" class="st3 st4 st22">Sb</text>
	<text transform="matrix(0.5787 -7.105021e-02 7.105021e-02 0.5787 203.4015 561.6349)" class="st6 st4 st22">51</text>
</g>
<g id="83_element">
	<path class="st1" d="M165.7,499.4h-56.2c0.2,53,9.9,103.8,27.4,150.8l52.7-19.1C174.4,590.1,166.1,545.7,165.7,499.4z"/>
	
		<rect x="102.7" y="559.9" transform="matrix(0.9925 -0.1219 0.1219 0.9925 -70.7589 22.2225)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.9926 -0.1219 0.1219 0.9926 128.6759 577.8224)" class="st3 st4 st22">Bi</text>
	<text transform="matrix(0.5787 -7.105021e-02 7.105021e-02 0.5787 146.3858 568.5726)" class="st6 st4 st22">83</text>
</g>
<g id="115_element">
	<path class="st0" d="M109.5,499.4H57.1c0.4,59.3,11.2,116.1,30.8,168.6l49-17.8C119.4,603.3,109.7,552.5,109.5,499.4z"/>
	
		<rect x="48.4" y="569.5" transform="matrix(0.9925 -0.1219 0.1219 0.9925 -72.326 15.673)" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(0.9926 -0.1219 0.1219 0.9926 64.2718 587.3704)" class="st3 st4 st24">Uup</text>
	<text transform="matrix(0.5787 -7.105021e-02 7.105021e-02 0.5787 101.5248 576.2651)" class="st6 st4 st24">115</text>
</g>
<g id="8_element">
	<path class="st25" d="M379.7,562.1l-48.7,17.7c9.7,25.9,23.9,49.7,41.8,70.4l39.5-33.2C398.3,600.9,387.2,582.3,379.7,562.1z"/>
	
		<rect x="330.8" y="576.8" transform="matrix(0.9063 -0.4226 0.4226 0.9063 -228.4211 210.4756)" class="st2" width="59.3" height="87.2"/>
	<text transform="matrix(0.4226 0.9063 -0.9063 0.4226 361.143 600.5724)" class="st3 st4 st5">O</text>
	<text transform="matrix(0.4226 0.9063 -0.9063 0.4226 369.7295 618.9863)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.2464 0.5284 -0.5284 0.2464 380.623 620.6184)" class="st6 st4 st7">8</text>
</g>
<g id="16_element">
	<path class="st26" d="M331.1,579.8l-48.6,17.6c12,31.6,29.3,60.6,51,85.9l39.4-33.2C355,629.5,340.7,605.7,331.1,579.8z"/>
	
		<rect x="289.3" y="603" transform="matrix(0.9063 -0.4226 0.4226 0.9063 -243.4029 195.3614)" class="st2" width="59.3" height="87.2"/>
	<text transform="matrix(0.4226 0.9063 -0.9063 0.4226 319.5787 626.8342)" class="st3 st4 st5">S</text>
	<text transform="matrix(0.4226 0.9063 -0.9063 0.4226 325.8413 640.2642)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.2464 0.5284 -0.5284 0.2464 336.7348 641.8963)" class="st6 st4 st7">16</text>
</g>
<g id="34_element">
	<path class="st20" d="M282.4,597.5L235,614.7c13.8,37.3,34.1,71.6,59.4,101.5l39-32.8C311.8,658.1,294.4,629.1,282.4,597.5z"/>
	
		<rect x="237.2" y="628.6" transform="matrix(0.9063 -0.4226 0.4226 0.9063 -259.0733 175.7515)" class="st2" width="59.3" height="87.2"/>
	<text transform="matrix(0.4226 0.9063 -0.9063 0.4226 268.4001 645.6295)" class="st3 st4 st27">Se</text>
	<text transform="matrix(0.4226 0.9063 -0.9063 0.4226 279.7737 670.0201)" class="st6 st4 st27"> </text>
	<text transform="matrix(0.2464 0.5284 -0.5284 0.2464 289.0272 671.9698)" class="st6 st4 st27">34</text>
</g>
<g id="52_element">
	<path class="st21" d="M235,614.7l-45.4,16.5c15.8,42.8,38.9,82,67.7,116.2l37.1-31.2C269.1,686.3,248.8,652,235,614.7z"/>
	
		<rect x="193.8" y="652" transform="matrix(0.9063 -0.4226 0.4226 0.9063 -273.0337 159.589)" class="st2" width="59.3" height="87.2"/>
	<text transform="matrix(0.4226 0.9063 -0.9063 0.4226 225.6721 670.5417)" class="st3 st4 st27">Te</text>
	<text transform="matrix(0.4226 0.9063 -0.9063 0.4226 235.9128 692.5029)" class="st6 st4 st27"> </text>
	<text transform="matrix(0.2464 0.5284 -0.5284 0.2464 245.1663 694.4526)" class="st6 st4 st27">52</text>
</g>
<g id="84_element">
	<path class="st1" d="M189.6,631.2l-52.7,19.1c18.2,48.8,44.9,93.6,78.3,132.4l42.1-35.4C228.5,713.1,205.4,673.9,189.6,631.2z"/>
	
		<rect x="147" y="674.5" transform="matrix(0.9063 -0.4226 0.4226 0.9063 -286.9192 141.9522)" class="st2" width="59.3" height="87.2"/>
	<text transform="matrix(0.4226 0.9063 -0.9063 0.4226 178.1148 691.2462)" class="st3 st4 st27">Po</text>
	<text transform="matrix(0.4226 0.9063 -0.9063 0.4226 189.5647 715.8007)" class="st6 st4 st27"> </text>
	<text transform="matrix(0.2464 0.5284 -0.5284 0.2464 198.8182 717.7504)" class="st6 st4 st27">84</text>
</g>
<g id="116_element">
	<path class="st0" d="M136.9,650.3l-49,17.8c20.3,54.6,50.1,104.7,87.3,148.3l40-33.7C181.8,743.9,155.1,699.1,136.9,650.3z"/>
	
		<rect x="95.6" y="697.8" transform="matrix(0.9063 -0.4226 0.4226 0.9063 -301.5849 122.3877)" class="st2" width="59.3" height="87.2"/>
	<text transform="matrix(0.4226 0.9063 -0.9063 0.4226 123.8441 708.5115)" class="st3 st4 st27">Uuh</text>
	<text transform="matrix(0.2464 0.5284 -0.5284 0.2464 149.3664 745.3498)" class="st6 st4 st27">116</text>
</g>
<g id="9_element">
	<path class="st25" d="M412.3,616.9l-39.5,33.2c18.8,21.8,41.7,40.2,67.5,54l27.2-44.3C446.3,649,427.6,634.4,412.3,616.9z"/>
	
		<rect x="408.3" y="622.3" transform="matrix(0.5736 -0.8192 0.8192 0.5736 -364.3948 631.1212)" class="st2" width="31.4" height="86.5"/>
	<text transform="matrix(0.8192 0.5736 -0.5736 0.8192 410.021 661.9386)" class="st3 st4 st5">F</text>
	<text transform="matrix(0.8192 0.5736 -0.5736 0.8192 419.9868 668.9167)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.4776 0.3344 -0.3344 0.4776 430.237 664.8835)" class="st6 st4 st7">9</text>
</g>
<g id="17_element">
	<path class="st26" d="M372.8,650.2l-39.4,33.2c22.4,26.1,49.4,48.2,79.8,65.1l27.1-44.2C414.5,690.3,391.7,672,372.8,650.2z"/>
	
		<rect x="369.1" y="661.6" transform="matrix(0.6691 -0.7431 0.7431 0.6691 -396.5084 519.1644)" class="st2" width="31.4" height="86.5"/>
	<text transform="matrix(0.7431 0.6691 -0.6691 0.7431 365.4555 694.2357)" class="st3 st4 st5">CI</text>
	<text transform="matrix(0.7431 0.6691 -0.6691 0.7431 382.9592 709.9962)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.4333 0.3901 -0.3901 0.4333 393.6245 707.2421)" class="st6 st4 st7">17</text>
</g>
<g id="35_element">
	<path class="st20" d="M333.4,683.3l-39,32.8c25.8,30.4,56.9,56.3,91.9,76.2l26.9-43.9C382.9,731.6,355.8,709.5,333.4,683.3z"/>
	
		<rect x="337.4" y="697.7" transform="matrix(0.6691 -0.7431 0.7431 0.6691 -433.8259 507.5896)" class="st2" width="31.4" height="86.5"/>
	<text transform="matrix(0.7431 0.6691 -0.6691 0.7431 332.3609 729.0628)" class="st3 st4 st5">Br</text>
	<text transform="matrix(0.7431 0.6691 -0.6691 0.7431 350.136 745.0677)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.4333 0.3901 -0.3901 0.4333 360.8013 742.3136)" class="st6 st4 st7">35</text>
</g>
<g id="53_element">
	<path class="st21" d="M294.4,716.1l-37.1,31.2c29.1,34.5,64.2,63.9,103.5,86.5l25.4-41.5C351.3,772.5,320.2,746.6,294.4,716.1z"/>
	
		<rect x="304.7" y="737" transform="matrix(0.6691 -0.7431 0.7431 0.6691 -473.8458 496.2356)" class="st2" width="31.4" height="86.5"/>
	<text transform="matrix(0.7431 0.6691 -0.6691 0.7431 305.8288 773.9382)" class="st3 st4 st5">I </text>
	<text transform="matrix(0.4333 0.3901 -0.3901 0.4333 321.8101 775.9706)" class="st6 st4 st7">53</text>
</g>
<g id="85_element">
	<path class="st1" d="M257.3,747.3l-42.1,35.4c33.2,38.6,73,71.5,117.7,96.8l28-45.7C321.5,811.2,286.5,781.8,257.3,747.3z"/>
	
		<rect x="268.7" y="772.5" transform="matrix(0.6691 -0.7431 0.7431 0.6691 -512.1557 481.2387)" class="st2" width="31.4" height="86.5"/>
	<text transform="matrix(0.7431 0.6691 -0.6691 0.7431 262.9202 803.2375)" class="st3 st4 st5">At </text>
	<text transform="matrix(0.4333 0.3901 -0.3901 0.4333 292.3193 817.3515)" class="st6 st4 st7">85</text>
</g>
<g id="117_element">
	<path class="st0" d="M215.2,782.7l-40,33.7c36.7,43,80.7,79.8,130,108.3l27.6-45.1C288.2,854.2,248.4,821.4,215.2,782.7z"/>
	
		<rect x="228" y="814.2" transform="matrix(0.6691 -0.7431 0.7431 0.6691 -556.5783 464.7899)" class="st2" width="31.4" height="86.5"/>
	<text transform="matrix(0.7431 0.6691 -0.6691 0.7431 219.4293 839.0999)" class="st3 st4 st5">Uus</text>
	<text transform="matrix(0.4333 0.3901 -0.3901 0.4333 257.3998 862.3855)" class="st6 st4 st5">117</text>
</g>
<g id="10_element">
	<path class="st25" d="M467.5,659.8l-27.2,44.3c23.2,12.4,48.7,21.2,75.8,25.6l9.5-51.3C504.8,675.3,485.3,668.9,467.5,659.8z"/>
	
		<rect x="471.4" y="658.3" transform="matrix(6.975661e-02 -0.9976 0.9976 6.975661e-02 -246.7859 1138.5385)" class="st2" width="31.4" height="86.5"/>
	<text transform="matrix(0.9976 6.975999e-02 -6.975999e-02 0.9976 460.2127 704.7307)" class="st3 st4 st5">Ne</text>
	<text transform="matrix(0.9976 6.975999e-02 -6.975999e-02 0.9976 492.423 706.9832)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.5816 4.067008e-02 -4.067008e-02 0.5816 499.1318 698.2463)" class="st6 st4 st7">10</text>
</g>
<g id="18_element">
	<path class="st26" d="M440.3,704.2l-27.1,44.2c28.5,15.8,60,26.9,93.4,32.4l9.4-51C489,725.4,463.5,716.6,440.3,704.2z"/>
	
		<rect x="456.2" y="708.1" transform="matrix(6.975661e-02 -0.9976 0.9976 6.975661e-02 -310.551 1169.6975)" class="st2" width="31.4" height="86.5"/>
	<text transform="matrix(0.9976 6.975999e-02 -6.975999e-02 0.9976 448.4592 754.738)" class="st3 st4 st5">Ar</text>
	<text transform="matrix(0.9976 6.975999e-02 -6.975999e-02 0.9976 473.7275 756.505)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.5816 4.067008e-02 -4.067008e-02 0.5816 480.4363 747.7682)" class="st6 st4 st7">18</text>
</g>
<g id="36_element">
	<path class="st20" d="M413.2,748.4l-26.9,43.9c33.8,19.2,71.1,32.8,110.8,39.6l9.5-51.2C473.2,775.3,441.7,764.2,413.2,748.4z"/>
	
		<rect x="438" y="755.4" transform="matrix(6.975661e-02 -0.9976 0.9976 6.975661e-02 -374.6584 1195.5068)" class="st2" width="31.4" height="86.5"/>
	<text transform="matrix(0.9976 6.975999e-02 -6.975999e-02 0.9976 429.4781 801.9623)" class="st3 st4 st5">Kr</text>
	<text transform="matrix(0.9976 6.975999e-02 -6.975999e-02 0.9976 453.7263 803.658)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.5816 4.067008e-02 -4.067008e-02 0.5816 460.4352 794.9211)" class="st6 st4 st7">36</text>
</g>
<g id="54_element">
	<path class="st21" d="M386.3,792.3l-25.4,41.5c38.7,22.3,81.7,38.1,127.4,46l8.9-48C457.4,825.1,420.1,811.5,386.3,792.3z"/>
	
		<rect x="423.3" y="800.8" transform="matrix(6.975661e-02 -0.9976 0.9976 6.975661e-02 -433.6241 1223.0863)" class="st2" width="31.4" height="86.5"/>
	<text transform="matrix(0.9976 6.975999e-02 -6.975999e-02 0.9976 411.7566 847.1588)" class="st3 st4 st5">Xe</text>
	<text transform="matrix(0.9976 6.975999e-02 -6.975999e-02 0.9976 442.3654 849.2993)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.5816 4.067008e-02 -4.067008e-02 0.5816 449.0742 840.5624)" class="st6 st4 st7">54</text>
</g>
<g id="86_element">
	<path class="st1" d="M360.9,833.9l-28,45.7c44.4,25.2,93.6,42.9,145.9,51.6l9.5-51.3C442.6,872,399.6,856.2,360.9,833.9z"/>
	
		<rect x="404.6" y="849.4" transform="matrix(6.975661e-02 -0.9976 0.9976 6.975661e-02 -499.5064 1249.7246)" class="st2" width="31.4" height="86.5"/>
	<text transform="matrix(0.9976 6.975999e-02 -6.975999e-02 0.9976 392.952 895.7914)" class="st3 st4 st5">Rn</text>
	<text transform="matrix(0.9976 6.975999e-02 -6.975999e-02 0.9976 423.0026 897.8928)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.5816 4.067008e-02 -4.067008e-02 0.5816 429.7114 889.156)" class="st6 st4 st7">86</text>
</g>
<g id="118_element">
	<path class="st0" d="M332.9,879.6l-27.6,45.1c49.7,28.8,105,49.3,163.7,59.6l9.8-53.1C426.5,922.5,377.3,904.7,332.9,879.6z"/>
	
		<rect x="394.4" y="902.8" transform="matrix(0.2924 -0.9563 0.9563 0.2924 -614.5206 1061.6221)" class="st2" width="31.4" height="86.5"/>
	<text transform="matrix(0.9563 0.2924 -0.2924 0.9563 373.3259 940.0062)" class="st3 st4 st5">Uuo</text>
	<text transform="matrix(0.9563 0.2924 -0.2924 0.9563 418.4681 953.8075)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.5575 0.1705 -0.1705 0.5575 426.9703 946.8037)" class="st6 st4 st7">118</text>
</g>
<g id="1_element">
	<path id="h_2_" class="st28" d="M517.7,394.5c0,0,36-12.5,68.3,2.1l-12.5,35.5c0,0-16.7-7.8-44.3-3.1L517.7,394.5z"/>
	<rect x="508.2" y="401.7" class="st2" width="87.2" height="59.3"/>
	<text transform="matrix(1 0 0 1 536.9124 422.3502)" class="st3 st4 st5">H</text>
	<text transform="matrix(1 0 0 1 555.0403 422.3502)" class="st6 st4 st5"> </text>
	<text transform="matrix(0.583 0 0 0.583 561.1234 413.1666)" class="st6 st4 st7">1</text>
</g>




</g>

<rect x="62.3" y="1084.8" transform="matrix(0.788 -0.6157 0.6157 0.788 -675.2383 295.7881)" class="st2" width="59.3" height="87.2"/>
<text transform="matrix(0.6157 0.788 -0.788 0.6157 97.0603 1116.5258)" class="st3 st4 st5">L</text>
<rect x="20.6" y="1122.5" transform="matrix(0.788 -0.6157 0.6157 0.788 -707.2727 278.1105)" class="st2" width="59.3" height="87.2"/>
<text transform="matrix(0.6157 0.788 -0.788 0.6157 54.1237 1152.6046)" class="st3 st4 st5">A</text>
<circle id="center" class="st3" cx="551.7" cy="483.6" r="41.7"/>
<g id="line4">
	<g>
		<line class="st8" x1="411.8" y1="618.2" x2="415.3" y2="614.7"/>
		<line class="st9" x1="422.3" y1="607.7" x2="422.8" y2="607.2"/>
		<line class="st10" x1="423" y1="607" x2="584.7" y2="445.3"/>
		<line class="st8" x1="584.9" y1="445.1" x2="588.4" y2="441.6"/>
	</g>
</g>
<g id="line3">
	<g>
		<line class="st11" x1="470.2" y1="660.8" x2="472.2" y2="656.2"/>
		<line class="st12" x1="476.3" y1="647.2" x2="476.6" y2="646.5"/>
		<line class="st13" x1="476.7" y1="646.3" x2="569.7" y2="437.4"/>
		<line class="st11" x1="569.8" y1="437.1" x2="571.8" y2="432.6"/>
	</g>
</g>
<g id="line2">
	<g>
		<line class="st14" x1="539.7" y1="678.1" x2="540" y2="673.1"/>
		<line class="st15" x1="540.5" y1="663.2" x2="540.6" y2="662.5"/>
		<line class="st16" x1="540.6" y1="662.2" x2="552.5" y2="433.9"/>
		<line class="st14" x1="552.5" y1="433.6" x2="552.8" y2="428.6"/>
	</g>
</g>
<g id="line1">
	<g>
		<line class="st17" x1="619" y1="664" x2="617.2" y2="659.3"/>
		<line class="st18" x1="613.8" y1="650" x2="613.5" y2="649.3"/>
		<line class="st19" x1="613.4" y1="649.1" x2="533.6" y2="434.8"/>
		<line class="st17" x1="533.5" y1="434.6" x2="531.8" y2="429.9"/>
	</g>
</g>

</svg>



</div>
    

    <div class="books">
        <!-- loop through all our team members and put their info on the page -->
   {{!-- this is exactly like forEach loop with vanila JS --}}
   
    {{#each data}}
    <div class="user-panel">
        {{!-- <img  class="b-cover" src="images/{{description}}"> --}}
        <a  id="all-elemens" href="{{ID}}">
            <h1 >
            {{number}}
        </h1>
          
        </a> 
     
        <h3>
            {{description}}
        </h3>


    </div>
    


        {{/each}}
    </div>
    </div>

    <!-- this will be filled in on the client side when we render our AJAX data -->



 <section class="lightbox">
     <h2 class="scroll">Scroll down</h2>
        
        <div class="sidebar">
            <img src="" alt="">
        </div>

        <div class="lb-content">
             

        </div>
      
       <div class="close">
       <span > Back to all </span>
       </div>
    </section>

    

