body{
    background-color:$bg;
    color:white;
    margin: 0 auto;
}
.hidden{
    display:none;
}

.intro{
    text-align: center;
    margin-top: 40px;
    font-size: 4vh;
    
}
.subheader {
    animation: intro 5s linear;
    -moz-animation: intro 5s linear ;
    -webkit-animation: intro 5s linear;
    -o-animation: intro 5s linear;
  }
  
  @keyframes intro {
    0%,
    100% {
      text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
      color: #28D7FE;
    }
    50% {
      text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
      color: #146C80;
    }
  }
  
  
.subheader{
    font-size: 3vh;
    //color:#27384c;
    text-align: center;
    color: #426DFB;
  //font-size: 9vw;
  line-height: 10vw;
  text-shadow: 0 0 3vw #2356FF;
  margin: 10;
}

#elements
{
    
    //margin: auto;
    margin-top: 30px;
    margin-left: 30px;
}
.all-elements{
    cursor: pointer;
}

.explain{
     max-width: 20%;
    // margin-bottom:40px;
    // margin-right: 30px;
    // margin-left: 100px;
 display:block;
 margin:0 auto;
 margin-top: 20px
    
}